/* RESETS AND DEFAULTS */

html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --lightgrey: #eee;
  --darkgrey: #444;
  --blue: #01a8f3;
  --darkblue: #0487d0;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* SITEWIDE */
* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

main {
  background: var(--lightgrey);
  padding: 2rem;
}

/* CARD PREVIEW */

#card-preview {
  align-items: stretch;
  display: flex;
  justify-content: center;
}

#card-preview__card {
  color: white;
  background: transparent;
  box-shadow: 0 4px 6px black;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin: 0 2rem 2rem 0rem;
  padding: 2rem;
  position: relative;
  width: 400px;
}

.card-preview__label,
#card-preview__card span {
  display: block;
}

.card-preview__label {
  font-size: 0.75rem;
}

@media screen and (max-width: 960px) {
  #card-preview {
    align-items: center;
    flex-direction: column;
  }
  #card-preview__card {
    margin-left: 2rem;
  }
}

#card-preview__card,
#card-preview__card-background {
  border-radius: 2rem;
}

#card-preview__card-header,
#card-preview__card-footer {
  justify-content: space-between;
  display: flex;
}

#card-preview__card-expiration-wrapper {
  align-items: center;
  display: flex;
}
#card-preview__card-expiration-wrapper span {
  display: block;
  margin-right: 0.5rem;
}

#card-preview__card-number {
  font-size: 1.75rem;
}

#card-preview__card-expiration {
  width: 3rem;
}

#card-preview__card-number,
#card-preview__card-owner,
#card-preview__card-expiration {
  height: 1rem;
}

#card-preview__chip,
#card-preview__logo {
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

#card-preview__chip {
  background: white;
  height: 3rem;
}

#card-preview__logo {
  height: 3.5rem;
}

#card-preview__form {
  height: 300px;
  width: 400px;
}

/* FORMS */
#card-preview__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#card-preview__form section {
  display: flex;
}

#card-preview__form section div {
  flex: 1;
}

/* add spacing in two-column */
#card-preview__form section div:nth-child(2) {
  margin-left: 0.5rem;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  color: var(--darkgrey);
  margin-bottom: 0.25rem;
}

input {
  border: 1px solid lightgrey;
  font-size: 1.5rem;
  padding: 1rem;
}

input:focus {
  outline: 2px solid lightblue;
}
