/* RESETS AND DEFAULTS */

html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --lightgrey: #eee;
  --blue: #01a8f3;
  --darkblue: #0487d0;
}

/* SITEWIDE */
* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

main {
  background: var(--lightgrey);
  padding: 2rem;
}

/* CARD PREVIEW */

#card-preview {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  #card-preview {
    align-items: center;
    flex-direction: column;
  }
}

#card-preview__card {
  background: transparent;
  box-shadow: 0 4px 6px black;
  height: 300px;
  margin: 0 1rem 1rem 1rem;
  padding: 2rem;
  position: relative;
  width: 400px;
}

#card-preview__card,
#card-preview__card-background {
  border-radius: 2rem;
}

#card-preview__card-header,
#card-preview__card-footer {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

#card-preview__chip,
#card-preview__logo {
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

#card-preview__chip {
  background: white;
  height: 3rem;
}

#card-preview__logo {
  height: 3.5rem;
}

#card-preview__form {
  height: 300px;
  width: 400px;
}
